@import "susy/sass/susy";
@import "skyblue/sass/skyblue";

html {
  background-color: #fbfbfb;
  color: #555555;
}

body {
  @include container(70em);
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 100%;
  margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Arial, sans-serif;
}

#sidebar {
  @include span(2 of 14);
  padding-left: 1em;
}

#main { @include span(last 12 of 14); }

.latest-tiqs ul {
  margin-top: 0;
  li {
    list-style-type: none;
  }
}
