<template name="addTags">
  {{#unless text}}
  <h3 class="text placeholder" contenteditable="true">add text</h3>
  {{else}}
  <h3 class="text" contenteditable="true">{{text}}</h3>
  <ul class="list-unstyled list-tags tags">
    <li>
      <p class="tag placeholder" contenteditable="true">add tag</p>
    </li>
    {{#each tags}}
    <li>
      {{> tag tag=this}}
    </li>
    {{/each}}
  </ul>
  {{/unless}}
</template>

<template name="tag">
  <a class="tag" href="{{pathFor 'home' text=tag}}">{{tag}}</a>
</template>
